:root {
    --main-bg-color: hsl(47, 88%, 63%);
    --text-content-color: hsl(0, 0%, 42%);
    --text-color: hsl(0, 0%, 7%);
}

/* 1. 定义常规（非斜体）的可变字体 */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    /* 样式：常规 */
    font-weight: 300 900;
    /* 字重范围：从 300 到 900 */
    font-display: swap;
    /* 优化加载体验，字体加载完成前先显示系统字体 */
    src: url('/assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

/* 2. 定义斜体的可变字体 */
@font-face {
    font-family: 'Figtree';
    font-style: italic;
    /* 样式：斜体 */
    font-weight: 300 900;
    /* 字重范围：从 300 到 900 */
    font-display: swap;
    src: url('/assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    font-family: 'Figtree', sans-serif;
    color: var(--text-color);
}

.container {
    width: 376px;
    padding: 24px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 8px 8px 0px var(--text-color);
    box-sizing: border-box;
}

.container .pic {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

article {
    margin: 24px 0px;
}

article .btn {
    background-color: var(--main-bg-color);
    border-radius: 4px;
    display: inline-block;
    padding: 4px 12px;
    box-sizing: border-box;
    font-weight: bold;
}

article .date {
    margin: 12px 0;
    font-size: 14px;
    line-height: 21px;
}

article .title {
    margin: 12px 0;
    padding: 0px;
    font-size: 24px;
    line-height: 36px;
}

article .title:hover {
    margin: 12px 0;
    padding: 0px;
    font-size: 24px;
    line-height: 36px;
    color: var(--main-bg-color);
}

article .content {
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-content-color);
}

footer .author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .author .author-pic {
    width: 32px;
    height: 32px;
}

footer .author .author-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    margin-left: 12px;
}